
    <div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <div>
                <!-- <div class="border-noround border-double border-white md:border-circle w-4rem h-3rem m-2 bg-orange-200 font-bold flex align-items-center justify-content-center">TK</div> -->
                <!-- <div class="border-circle w-6rem h-6rem m-2 bg-primary font-bold flex align-items-center justify-content-center">circle</div> -->
                <p-avatar image="Logo-tkadal_03.png" styleClass="flex align-items-center justify-content-center mr-2 h-auto p-link" routerLink="/home" title="Thervu Kadal Home page"/>
            </div>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.link">
                <span [class]="item.icon"></span>
                <span class="ml-2 mr-1">{{ item.label }}</span>
                @if (item.badge) {
                    <p-badge [severity]="item.severity" class="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                }
                @if (item.shortcut) {
                    <span class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                }
                @if (item.items) {
                    <i class="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                }
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex flex-wrap align-items-center gap-2">
                <input type="text" pInputText placeholder="Search" class="md:w-8rem w-5rem" />
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="flex-initial" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>
    </div>
    


