<app-main-menu></app-main-menu>
<div class="m-2 container">
    <div class="flex">
      <div class="flex-initial flex-order-1 flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round">
        <app-exam-notifications></app-exam-notifications>
      </div>
      <div class="flex-initial flex-order-2 flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round">
        <app-flash-details></app-flash-details>
      </div>
      <div class="flex-initial flex-order-3 flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round">
        <app-login></app-login>
      </div>
    </div>
  </div>
