<app-main-menu></app-main-menu>
<div class="text-center">
    <h1 class="title" title="Compitative exam guidence">Welcome To Thervukadal Online Competitive Exam Coaching</h1>
    <div class="text-justify w-8 h-6rem shadow-8 border-round-xl border-1 p-2 m-auto">
       TK—Thervukadal is the supreme online coaching for competitive exams.
        We offer free mock tests and guidance for UPSC, TNPSC, Group D, NEET, JEE, JEEE, SSC CGL, CHSL, RRB ALP, MTS,
        NTPC, and State PSC exams. We aim to qualify students/aspirants with the mastery and practice they need to 
        attain their careers.
    </div>
</div>
