<app-main-menu></app-main-menu>
<div class="px-4">
    <h1 class="text-primary-600 py-1 my-1">Welcome to {{tittle}}</h1>
    <h4 class="font-normal py-1 my-1">Wishing and Helping you to score good marks in your exams.</h4>
</div>
<div class="mb-2 container">
    <div class="flex">
      <div class="flex-initial w-6 flex-order-1 align-items-center justify-content-center mx-2 px-5 py-1">
        <app-testimonials></app-testimonials>
      </div>
      <div class="flex-initial w-6 flex-order-2 align-items-center justify-content-center mx-2 px-5 py-1">
        <app-login></app-login>
    </div>
    </div>
  </div>
